
  <td><img src="{{Team}}" alt="Our Team"></td>
  <td><h2>{{Name}}</h2></td>
  <td><p>{{Role}}</p></td>
  <td><p>{{Manager}}</p></td>
  <td><p>{{Phone}}<p></td>
  <td><p>{{Dept}} {{Icon}}</p></td>
  <td class="start"><p><time datetime="{{Start}}">{{Start}}</time></p></td>
